:root {
  --color-accent: #137921;
  --color-text: black;
  --color-background: #EDEEF0;
  --border-radius: 10px;
  --border: 1px solid #BFBFBF;
  --box-shadow: 0 0 8px rgba(0, 0, 0, .095);
  --font-title: normal 400 1.25rem inherit, sans-serif;
  --gap-offset: 15px;
  --field-offset: 10px 15px;
  --transition: all 150ms ease;
}

html, body, ul, ul li, a, p {
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--color-background);
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  color: var(--color-text);
}

a, a:focus, a:visited, a:hover, a:link {
  color: inherit;
  text-decoration: inherit;
}

.button, button, input, textarea, select,
button:focus, input:focus,
textarea:focus, select:focus {
  outline: none;
}

.button, button, input, textarea, select {
  background: white;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-text);
  padding: var(--field-offset);
  transition: var(--transition);
}

.button,
button {
  cursor: pointer;
}

.disabled,
button[disabled] {
  cursor: default;
}

.accent {
  background: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: white;
}

.clear {
  background: none;
  border: none;
  border-radius: 0;
  text-decoration: initial;
}

.clear:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.group-checkbox {
  display: flex;
  flex-wrap: wrap;
}
.group-checkbox .checkbox {
  display: flex;
  align-items: center;
}

.group-checkbox .checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: var(--border-radius);
  border: 1px solid gray;
  flex-basis: 32px;
  width: 32px;
  height: 32px;
  color: gray;
}

.group-checkbox .checkbox.checked .checkmark {
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 64px;
  margin-block-end: 10px;
}

header aside {
  height: 100%;
}

header aside img {
  height: 100%;
  object-fit: contain;
}

main {
  width: 70%;
  padding: 0 15%;
}

main.thin {
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

main .navbar {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--gap-offset);
  margin-block-end: var(--gap-offset);
}

main .navbar a {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

main .navbar a.active {
  background: var(--color-accent);
  color: white;
}

main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--gap-offset);
}

main .content .title {
  color: var(--color-accent);
  font: var(--font-title);
}

main .content form {
  display: flex;
  flex-direction: column;
  grid-gap: var(--gap-offset);
}

main .content.loading {
  width: 64px;
  height: 64px;
}